.nav {
  display: flex;
  height: 60px;
  padding: 0px 10px;
  justify-content: right;
  gap: 10px;
  align-items: center;
  background-color: #000000;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
  cursor: pointer;
  background-color: #333333;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

.nav__menu-bar:hover {
  background-color: #db5771;
}

.nav__menu-bar.active {
  background-color: #db5771;
}
.nav__menu-bar.active span {
  opacity: 1;
  transform: rotate(-45deg) translate(2px, -1px);
}
.nav__menu-bar.active span:nth-last-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.nav__menu-bar.active span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__menu-bar span {
  width: 17px;
  height: 3px;
  background-color: white;
  border-radius: 99999px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.nav__menu-bar span:nth-last-child(2) {
  transform-origin: 40% 100%;
}

.nav__menu-list {
  display: none;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0px;
  margin-top: 0px;
  width: 25%;
  row-gap: 20px;
  padding: 24px 16px;
  min-height: calc(100vh - 60px);
  background-color: #000000;
  color: white;
}

.nav__menu-list.active {
  display: flex;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0px;
  color: white;
}
